In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

## Extract the CSVs into DataFrames

In [4]:
animals_csv = "Resources/Austin_Animal_Center_Outcomes.csv"
animals_df = pd.read_csv(animals_csv)
animals_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray

In [5]:
city_satisfaction_csv = "Resources/Community_Survey_2015__2016___2017.csv"
city_satisfaction_df = pd.read_csv(city_satisfaction_csv)
city_satisfaction_df.head()

/Users/delaynabradshaw/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (29,30,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,Year,Method,The City of Austin as a place to live,The City of Austin as a place to raise children,The City of Austin as a place to work,The City of Austin as a place to retire,Overall value that you receive for your city tax dollars and fees,Overall quality of life in the city,How well the City of Austin is planning growth,...,"How many children, if any, do you have in your household who use childcare services such asdaycare, after school programs, and/or camps?",Which of the following best describes your annual household income?,What is your gender?,Do you own or rent your home?,What is your HOME zip code? (Self-Reported),Zip Code,Council District,Block Level X Longitude,Block Level Y Latitude,Date as of Date
0,1873,2015,NaN,Satisfied,Satisfied,Satisfied,Satisfied,Neutral,Neutral,Neutral,...,NaN,"$40K-59,999",Male,Own,78745.0,78745,2,-97.780,30.197,01/01/2015 12:00:00 AM
1,1692,2015,NaN,Neutral,Neutral,Neutral,Neutral,Neutral,Don't Know,Don't Know,...,NaN,"$60K-79,999",Female,Rent,78744.0,78744,2,-97.756,30.172,01/01/2015 12:00:00 AM
2,1968,2015,NaN,Satisfied,Satisfied,Satisfied,Satisfied,Neutral,Neutral,Dissatisfied,...,NaN,"$80K-149,999",Female,Own,78729.0,78729,6,-97.775,30.460,01/01/2015 12:00:00 AM
3,1474,2015,NaN,Satisfied,Satisfied,Satisfied,Dissatisfied,Satisfied,Dissatisfied,Neutral,...,NaN,less than $20K,Male,Own,78741.0,78741,3,-97.695,30.239,01/01/2015 12:00:00 AM
4,1794,2015,NaN,Satisfied,Neutral,Neutral,Satisfied,Satisfied,Satisfied,Neutral,...,NaN,"$60K-79,999",Male,Own,78752.0,78752,4,-97.705,30.332,01/01/2015 12:00:00 AM

## Transform the DataFrames

In [8]:
new_animals_df = animals_df[['DateTime', 'Outcome Type', 'Animal Type', 'Breed', 'Age upon Outcome']].copy()
new_animals_df = new_animals_df.rename(index=str, columns={"DateTime": "date_time", "Outcome Type": "outcome_type", "Animal Type": "animal_type", "Breed":"breed", "Age upon Outcome": "age_upon_outcome"})
# new_animals_df.drop_duplicates("id", inplace=True)
new_animals_df.head()

,date_time,outcome_type,animal_type,breed,age_upon_outcome
0,12/27/2018 01:25:00 PM,Adoption,Dog,Pit Bull Mix,1 year
1,10/01/2018 05:03:00 PM,Adoption,Cat,Domestic Shorthair Mix,5 months
2,01/11/2017 06:17:00 PM,Adoption,Cat,Domestic Shorthair Mix,10 months
3,11/13/2016 01:38:00 PM,Return to Owner,Dog,Border Terrier Mix,5 years
4,02/24/2016 02:42:00 PM,Euthanasia,Other,Raccoon Mix,2 years

In [11]:
new_city_satisfaction_df = city_satisfaction_df[["ID", "Year", "Overall quality of life in the city", "Overall quality of city parks and recreation", "Animal services (shelter, adoptions, animal control, etc.)","I feel safe in my neighborhood during the day", "I feel safe in my neighborhood at night","I feel safe in city parks","Number of City of Austin parks","Number of City of Austin walking/biking trails","Appearance of City of Austin park grounds located in Austin","Which of the following best describes your AGE?","Which of the following best describes your annual household income?","Race/Ethnicity Recode"]].copy()
new_city_satisfaction_df = new_city_satisfaction_df.rename(index=str, columns={"ID": "id", "Year": "year", "Overall quality of life in the city": "quality_of_life", "Overall quality of city parks and recreation":"parks_and_rec", "Animal services (shelter, adoptions, animal control, etc.)":"animal_services","I feel safe in my neighborhood during the day":"safety_day","I feel safe in my neighborhood at night":"safety_night","I feel safe in city parks":"safety_parks","Number of City of Austin parks":"num_parks","Number of City of Austin walking/biking trails":"num_trails","Appearance of City of Austin park grounds located in Austin":"park_appearance","Which of the following best describes your AGE?":"age_range","Which of the following best describes your annual household income?":"income_range","Race/Ethnicity Recode":"race_ethnicity"})
# new_city_satisfaction_df.drop_duplicates("id", inplace=True)
new_city_satisfaction_df.set_index("id", inplace=True)
new_city_satisfaction_df.head()

,year,quality_of_life,parks_and_rec,animal_services,safety_day,safety_night,safety_parks,num_parks,num_trails,park_appearance,age_range,income_range,race_ethnicity
id,,,,,,,,,,,,,
1873,2015,Neutral,Satisfied,Dissatisfied,Agree,Agree,Agree,Satisfied,Satisfied,Neutral,18-34 years,"$40K-59,999",Hispanic
1692,2015,Don't Know,Don't Know,Neutral,Neutral,Neutral,Disagree,Neutral,Neutral,Neutral,35-44 years,"$60K-79,999",Hispanic
1968,2015,Neutral,Neutral,Satisfied,Agree,Agree,Agree,Neutral,Neutral,Neutral,18-34 years,"$80K-149,999",Hispanic
1474,2015,Dissatisfied,Satisfied,Satisfied,Agree,Agree,Agree,Satisfied,Neutral,Neutral,65+ years,less than $20K,Hispanic
1794,2015,Satisfied,Satisfied,Don't Know,Agree,Agree,Agree,Satisfied,Satisfied,Satisfied,65+ years,"$60K-79,999",Hispanic